#!/bin/bash

# DESCRIPTION
# Defines global settings.

# SETTINGS
export BACKUP_NAME=$(date "+%Y-%m-%d_%H-%M-%S")
export BACKUP_USER="archiver"
export BACKUP_MACHINE="my_machine"
export BACKUP_SERVER="archiver.local"
export BACKUP_ROOT="/path/to/backup/$BACKUP_MACHINE"
export BACKUP_LIMIT=7
